


code {
    font-family: Consolas,"courier new";
    color: crimson;
    background-color: #f1f1f1;
    padding: 2px;
    font-size: 105%;
  }
  
  
  header {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: thin;
  }
  
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
   }

  @media only screen and (min-width: 768px) {
 /* For desktop: */
   .col-1 {width: 8.33%;}
   .col-2 {width: 16.66%;}
   .col-3 {width: 25%;}
   .col-4 {width: 33.33%;}
   .col-5 {width: 41.66%;}
   .col-6 {width: 50%;}
   .col-7 {width: 58.33%;}
   .col-8 {width: 66.66%;}
   .col-9 {width: 75%;}
   .col-10 {width: 83.33%;}
   .col-11 {width: 91.66%;}
   .col-12 {width: 100%;}
  }

  .container {
    padding-left: 100px;
    text-align: center;
    text-indent: 10%;
    place-content: center;
  }

  #navbar{
      
      width: 18vw;
      height:100%;
      position:fixed;
      background-color:rgba(43, 150, 182, 0.33);
      top:0;
      left:0;
      z-index:499;
      position: fixed;/*
      width: 30%;*/
      left: 0;
  }

  #img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  padding-left: 150px;
  }
  